@import '../../style/style.scss';

.container {
  @include column;
  @include rounded;
  @include rectangle(300px, 450px);

  box-shadow: $shadow;
  justify-content: space-between;
  background-color: $light;

  h2,
  h3,
  h4 {
    color: $primaryLight;
  }
}

.title {
  margin-top: 1em;
}

.lockedZone {
  @include column;
}

.lockIcon {
  @include square(8em);
}

.bottom {
  text-align: center;
  color: $primaryDark;
}
