@import '../../style/style.scss';

.bottom {
  text-align: center;
  width: 10em;
  position: relative;
  position: relative;
  bottom: 1em;
  h4 {
    text-transform: none;
  }
}

.container {
  @include rectangle(25em, 35em);
  @include column;
  justify-content: space-between;
  background-color: #f5f8ff;
  h2, h3, h4 {
    color: #6435e9;
  }
}

.img{
  @include square(8em);
}

.lockedZone {
  @include column;
}

.title {
  margin-top : 1em;
}



h2 {
  text-transform: capitalize;
}