@import '../../style/style.scss';

.bottom {
  text-align: center;
}

.container {
  @include rectangle(30em, 35em);
  @include column;
  justify-content: space-between;
  background-color: #200f50;
}

.img{
  @include square(8em);
}

.medalZone {
  @include column;
}

h2, h3, h4 {
  color: #f5f8ff;
}

h2 {
  text-transform: capitalize;
}