@import '../../style/style.scss';

.container {
  @include reset-input;
  @include column;
  justify-content: space-between;
  height: 10em;
  cursor: pointer;
}

.matchesContainer {
  @include row;
  align-items: flex-end;
}

.matchesDone {
  font-size: 4em;
  color: $accent;
}

.matchesTotal {
  font-size: 3em;
  color: $light;
  margin-left: 0.2em;
}

.matchedText {
  font-size: 1.5em;
}
