@import '../../style/style.scss';

.screen {
  @include screen;
  @include row;
  background: url('../../assets/images/wave-diagonal.svg');
  padding: 4em;
}

.backIcon {
  margin-top: auto;

  & img {
    @include square(2em);
    opacity: 50%;
    cursor: pointer;
  }
}
