@import '../../../style';

.container {
  @include column;
  @include roundedBig;
  @include rectangle(300px, 450px);
  @include reset-input;
  padding: 2em 0 3em 0;
  box-shadow: $shadow;
  justify-content: space-between;
  background-color: $light;

  h2,
  h3,
  h4 {
    color: $primaryLight;
    text-transform: capitalize;
    margin: 0;
  }
}

.title {
  font-size: 2em;
}

.lockedZone {
  @include column;
}

.cardStatus {
  font-size: 1.5em;
}

.lockIcon {
  @include square(7em);
}

.textBottom {
  color: $primaryLight;
  text-align: center;
  padding: 0 4em;
  font-size: 1.2em;
}
