@import '../../style/style.scss';

.screen {
  @include screen;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  background: url('../../assets/images/wave-diagonal.svg');
  padding: 4em;
}

.header {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
    font-weight: 500;
  }

  h1,
  h2 {
    color: $primaryDark;
  }
}

.bottom {
  @include row;
  grid-row: 3;
  gap: 6em;

  p {
    font-size: 1.2em;
  }
}

.button {
  @include rectangle(8em, 3em);
  @include rounded;
  @include center;
  font-size: 1.5em;
  text-decoration: none;
  background-color: $accent;
  color: $light;
}
