@import '../../style/style.scss';

.headerContainer {
  @include row;
  width: 100%;

  .topic {
    text-transform: capitalize;
    color: white;
    font-size: 1.5em;
    margin-left: 1em;
  }
}

.headerColor {
  @include rounded;
  background-color: $primaryLight;
  height: 3em;
  width: 0.5em;
  margin-left: 1em;
}
