@import '../../style/layout.scss';
@import '../../style/shapes.scss';

.headerContainer {
  @include debug;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 1.5em;
}

.headerColor {
  @include rounded();
  background-color: blue;
  height: 4em;
  width: 1em;
  margin-left: 1em;
}

h1 {
  text-transform: capitalize;
  color: white;
  font-size: 1em;
  margin-left: 1em;
}
