@import '../../style/style.scss';

.container {
  position: absolute;
  right: 10em;
  top: 40%;
  transform: scale(1.5);
}

.levelContainer {
  @include row;
  height: 3em;
  margin-bottom: 1.5em;
  z-index: 5;
  position: absolute;
}

.fullBar {
  @include square(4em);
  background-color: $primaryDark;
  position: absolute;
  top: 1.5em;
  left: 0.25em;
  height: 13.5em;
  width: 0.5em;
  z-index: 0;
}

.blob {
  @include circle(2em);
  margin-left: -0.5em;
  box-shadow: $shadow;
}

.levelText {
  margin-left: 1em;
  text-transform: capitalize;

  h3 {
    color: $primaryDark;
  }
}

.pastLevel {
  color: $accent;

  .blob {
    background-color: $accent;
  }
}

.currentLevel {
  background-color: $primaryDark;
  width: 8em;
  border-radius: 50px;
  position: relative;
  left: -1em;
  box-shadow: $shadow;

  h3 {
    color: $accent;
  }

  .blob {
    background-color: $accent;
    margin-left: 0.5em;
  }
}

.futureLevel {
  color: $primaryDark;

  .blob {
    background-color: $primaryDark;
  }
}
