.pastLevel {
  color: #ff4034;
  .blob {
    background-color: #ff4034;
  }
}

.currentLevel {
  background-color: red;
  color: white;
  .blob {
    background-color: #3b1c94;
  }
}

.futureLevel {
  color: #200f50;
  .blob {
    background-color: #3b1c94;
  }
}

.levelText::first-letter {
  text-transform: capitalize;
}
.blob {
  height: 1em;
  width: 1em;
  border-radius: 50%;
}
