@import '../../style/style.scss';

.column {
  position: absolute;
}

.levelContainer {
  @include row;
  height: 3em;
  margin-bottom: 1.5em;
  z-index: 5;
  position: absolute;
}

.fullBar {
  @include square(4em);
  background-color: #ff4034;
  position: absolute;
  top: 1.5em;
  left: 0.25em;
  height: 13.5em;
  width: 0.5em;
  z-index: 0;
}

.progressBar {
  @include square(4em);
  background-color: #1900a8;
  position: absolute;
  left: 0.25em;
  width: 0.5em;
  z-index: 1;
}

.pastLevel {
  color: #ff4034;
  .blob {
    background-color: #ff4034;
  }
}

.currentLevel {
  background-color: red;
  color: white;
  border-radius: 50px;
  position: relative;
  left: -1em;

  .blob {
    @include circle(2em);
    background-color: #3b1c94;
    margin-left: 0.5em;
  }
}

.futureLevel {
  color: #200f50;
  .blob {
    background-color: #3b1c94;
  }
}

.levelText {
  margin: 0 0;
  margin-right: 3em;

  &::first-letter {
    text-transform: capitalize;
  }
}

.blob {
  @include circle(1em);
}
