@import '../../style';

.screen {
  @include column;
  @include center;
  @include screen;
  gap: 1em;
  padding: 4em 0;
  background-image: url('./quizGameBackground.svg');
  background-size: cover;
}

.header {
  @include column;
  @include center;
  opacity: 1;

  .scoreContainer {
    @include row;
    @include center;
    align-items: flex-end;
    gap: 1em;
    color: $light;

    h1 {
      font-size: 3em;
    }

    .score {
      color: $accent;
    }
  }
}

.logosContainer {
  @include row;
  gap: 2em;
  margin-top: 4em;
}

.helperText {
  font-size: 2em;
  margin-top: auto;
  color: $primary;
  margin-bottom: 1.5em;
}

.inputContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  .textInput {
    @include rounded;
    @include reset-input;
    grid-area: 1 / 1;
    z-index: 1;
    box-shadow: $shadow;
    height: 3em;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    color: $light;

    &::placeholder {
      color: $light;
      opacity: 0.5;
    }
  }

  .outerBar {
    @include rounded;
    grid-area: 1 / 1;
    height: 100%;
    background-color: $primary;
    margin-bottom: 1em;
  }

  .innerBar {
    @include rounded;
    height: 100%;
    background-color: $primaryDark;
    z-index: 1;
  }
}
