@import '../../../style';

.logo {
  @include row;
  margin-bottom: auto;

  h1 {
    font-size: 10em;

    &:nth-of-type(odd) {
      color: $accent;
    }

    &:nth-of-type(even) {
      color: $light;
    }
  }

  .logoPart {
    opacity: 1;
  }
}
