@import '../../style/style.scss';

.container {
  @include column;
  @include center;
  @include square(4em);
  justify-self: center;
  align-self: center;
  gap: 0;
  color: #200f50;
}

.circle {
  @include circle(5em);
  background-color: #200f50;
}

.light {
  color: #f5f8ff;
}

.number {
  font-size: 2em;
  font-weight: 600;
}

.name {
  text-transform: uppercase;
  letter-spacing: 0.5em;
}
