@import '../../style';

.container {
  @include row;
  width: 100%;
}

.verticalBar {
  @include rounded;
  background-color: $primaryLight;
  height: 3em;
  width: 0.5em;
  margin-left: 1em;
  background-color: $primaryLight;

  &.accent {
    background-color: $accent;
  }

  &.disabled {
    background-color: $disabled;
  }
}

.topic {
  text-transform: capitalize;
  color: white;
  font-size: 1.5em;
  margin-left: 1em;
}
