@import '../../style';

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3b1c94;
  z-index: 99;
}

.loader {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  margin-top: -50px;
}
