@import '../../../style';

.card {
  @include column;
  @include rounded;
  justify-content: space-between;
  background-color: $primaryDark;
  grid-row: 2 / 4;
  padding: 1.5em 0 2.5em 0;
  box-shadow: $shadow;
  text-align: center;
  position: relative;
  top: 0;
  transition: top 0.3s ease-in-out;

  &:hover {
    top: 1em;
  }
}

.centerContainer {
  @include column;
  justify-content: space-between;
  height: 10em;
}

.imageContainer {
  @include center;
  @include square(7em);
}

.quote {
  text-align: center;
  padding: 0 2em;
}

.ribbon {
  @include center;
  @include rectangle(100%, 3em);
  justify-self: flex-end;
  color: $light;
  background-color: $accent;
  transition: background-color 0.3s ease-in-out;
  font-size: 1.5em;

  &:hover {
    background-color: $accentHover;
  }

  &:active {
    background-color: $accentActive;
  }

  p {
    font-size: 1.3em;
    font-weight: 600;
  }
}
