@import '../../style/style.scss';

.screen {
  @include screen;
  @include fixed;
  @include center;
  @include column;
  gap: 4em;
  background-color: $primary;
}

.logo {
  @include row;

  h1 {
    font-size: 8em;

    &:nth-of-type(odd) {
      color: $accent;
    }

    &:nth-of-type(even) {
      color: $light;
    }
  }

  .logoPart {
    opacity: 1;
  }
}

.subtitle {
  font-size: 3.5em;
  max-width: 70vw;
  text-align: center;
  color: $light;
  margin: 0;
}

.button {
  @include rectangle(13em, 4em);
  @include reset-input;
  @include rounded;
  background-color: $accent;
  color: $light;
  font-weight: 700;
  font-size: 1.5em;
  cursor: pointer;
}
