@import '../../style';

.sideColumn {
  @include column;
  position: absolute;
  justify-content: space-between;
  width: 10em;
  height: 100%;
  padding: 4em;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

// for animations only

.leftIcon {
  opacity: 1;
}

.rightIcon {
  opacity: 1;
}
