@import '../../style/style.scss';

.body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 35em;

  h2,
  h3,
  h4 {
    color: #f5f8ff;
  }
}

.bodyTitle {
  margin-top: 1em;
}

.bottom {
  text-align: center;
  width: 10em;
  position: relative;
  bottom: 1em;
  h4 {
    text-transform: none;
  }
}

.container {
  @include rectangle(25em, 35em);
  @include column;
  @include rounded;
  background-color: #200f50;
  position: relative;
  margin-right: 1em;
  margin-left: 1em;

  h2,
  h3,
  h4 {
    color: #f5f8ff;
  }

  h2 {
    text-transform: capitalize;
  }
}

.points {
  @include square(3em);
  @include column;
  border-bottom-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  justify-content: flex-end;
  position: absolute;
  top: 0em;
  right: 0em;
  background-color: #ff4034;
}

.techZone {
  @include row;
  align-items: flex-end;
}
