@import '../../style/style.scss';

.container {
  @include column;
  @include rounded;
  background-color: $primaryDark;
  justify-content: space-between;
  position: relative;
  color: $light;
  box-shadow: $shadow;
}

.header {
  @include row;
  @include center;
  width: 100%;
}

.pointsBadge {
  @include square(3em);
  @include column;
  @include center;
  border-radius: 0 0.5em 0 0.5em;
  position: absolute;
  right: 0;
  top: 0;
  background-color: $accent;
}

.techZone {
  @include row;
}

.bottom {
  text-align: center;
  padding: 0 4em;
  margin-bottom: 2em;
}
