@import '../../style/style.scss';

.bottom {
  text-align: center;
  width: 10em;

  h4 {
    text-transform: none;
  }
}

.container {
  @include rectangle(30em, 35em);
  @include column;
  justify-content: space-between;
  background-color: #200f50;
  position: fixed;
}

.points {
  @include square(3em);
  @include column;
  justify-content: center;
  position: absolute;
  top: 0em;
  right: 0em;
  background-color: #ff4034;
}

.techZone {
  @include row;
  align-items: flex-end;
}

h2,
h3,
h4 {
  color: #f5f8ff;
}

h2 {
  text-transform: capitalize;
}
