@import './reset.scss';

// page change animations
// used by <CSSTransition> inside <App>

.fade-exit {
  @include hide-scrollbar;
  transform: scale(1);
  opacity: 1;

  &.fade-exit-active {
    transform: scale(0.7);
    opacity: 0;
    transition: all 0.5s;
  }
}

.fade-enter {
  @include hide-scrollbar;
  opacity: 0
  transform: scale(0.7);

  &.fade-enter-active {
    transform: scale(1);
    opacity: 1;
    transition: all 0.5s;
  }
}
