// palette

$amber400: #ffca28;
$orange400: #ffa726;
$orange800: #ef6c00;
$red500: #f44336;
$teal500: #009688;
$indigo900: #1b236e;
$purple700: #5b0a62;

// text

$textDark: #515151;
$textMedium: rgb(122, 122, 122);
$textLight: rgb(214, 214, 214);

// shadows

$shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
