h1,
h2,
h3,
h4 {
  margin: 0;
}

@mixin reset-space {
  margin: 0;
  padding: 0;
}

@mixin reset-input {
  border: none;
  outline: none;
  background: none;
}

@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}
