@import './colors.scss';
@import './layout.scss';
@import './shapes.scss';
@import './reset.scss';

// app-specific mixins go below

@mixin page {
  @include screen;
  position: absolute;
  display: grid;
  grid-template: 20% 1fr / 1fr 3fr 1fr;

  .page-title {
    align-self: end;
    justify-self: center;
    grid-column: 2/3;
  }

  .content {
    @include column;
    justify-content: center;
    gap: 2em;
    grid-column: 2/3;
  }
}

@mixin button-input {
  @include center;
  @include rounded;
  box-shadow: $shadow;
  width: 18em;
  height: 5em;
}

@mixin badge($size) {
  @include circle($size);
  border: 5px solid $orange400;
  box-shadow: $shadow;
}
