@import '../../style/style.scss';

.container {
  @include row;
}

.screen {
  @include center;
  @include row;
  @include screen;
  flex-direction: column;
  background: #fff url('../../assets/images/wave-bottom.svg');
  background-size: cover;
}

.testZone {
  position: absolute;
  left: 0.5em;
}
