@import '../../style/style.scss';

.activeBtn {
  background-color: #ff4034;
  &:hover {
    fill: #e2d8ff;
    filter: grayscale(100%);
  }
  &:active {
    filter: invert(100%);
  }
}

.container {
  @include row;
}

.screen {
  @include center;
  flex-direction: column;
  margin-top: 1em;
}

.testZone {
  position: absolute;
  left: 0.5em;
}
