@import '../../style/style.scss';

.screen {
  @include screen;
  background-image: url('../../assets/images/triangleUp.svg');
  background-size: cover;
  padding: 0 10em;
  display: grid;
  grid-template-rows: 20% 1fr 20%;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.pageTitle {
  grid-column: 1 / 4;
  grid-row: 1;
  font-size: 3em;
  color: $primaryDark;
}

.footerText {
  font-size: 1.5em;
  padding: 0 4em;
  text-align: center;
}

.card {
  opacity: 1;
}

.button {
  @include app-button;
}

.activeBtn {
  background-color: $accent;

  &:hover {
    background-color: $accentHover;
  }

  &:active {
    background-color: $accentActive;
  }
}

.inactiveBtn {
  background-color: $primaryDark;

  &:hover {
    cursor: not-allowed;
  }
}
