@import '../../../style/style.scss';

.card {
  @include center;
  @include column;
  @include rounded;

  &.up {
    background-color: $light;
  }

  &.down {
    color: gray;
    background-color: gray;
  }

  &.matched {
    visibility: hidden;
  }
}
