@import '../../../style/style.scss';

.card {
  @include center;
  @include column;
  @include rounded;
  box-shadow: $shadow;

  &.up {
    background-color: $light;
  }

  &.down {
    color: $accent;
    background-color: $primaryDark;
    font-size: 2em;
  }

  &.matched img {
    opacity: 30%;
  }
}
