@import '../../style/style.scss';

.container {
  align-self: flex-end;
  margin-right: 4em;
  cursor: pointer;
}

.card {
  @include rectangle(5em, 8em);
  @include column;
  @include center;
  @include rounded;
  background-color: $light;
}
