@import '../../style/style.scss';

.container {
  @include debug;
  @include fill;
  display: grid;
  padding: 0 6em;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 3fr;
  color: white;
  gap: 1em;

  a {
    color: white;
    text-decoration: none;
  }
}

.button {
  @include column;
  @include rounded;
  background-color: $accent;
  font-size: 1.5em;
  padding: 0.5em;
  p {
    font-weight: 700;
  }
}
