@import '../../style/style.scss';

.container {
  @include row;
  gap: 0.5em;

  &.big {
    gap: 1.5em;
  }
}

.star {
  @include square(1em);

  &.big {
    @include square(4em);
  }
}

.gray {
  filter: grayscale(1);
}
