@import '../../../style/style.scss';

.card {
  @include rectangle(7em, 11em);
  @include rounded;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primaryDark;
  justify-content: space-between;
  padding: 1.5em 0;
  color: $light;
  box-shadow: $shadow;

  .techLevel {
    font-size: 1.5em;
  }
}
