@import '../../style';

.page {
  @include screen;
  background: radial-gradient(50% 154.24% at 50% 50%, #fee5c0 0%, #946fff 100%);
}

.centerSection {
  @include column;
  gap: 2em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header {
  @include row;
  gap: 2em;

  .timeLeft {
    color: $accent;
    font-size: 3em;
  }

  .hourGlassIcon {
    @include square(3em);
  }
}

.circleContainer {
  @include center;
  @include square(30em);
}

.centerIconsContainer {
  @include center;
  @include column;
  @include square(30em);
  @include circle(25em);
  background-color: $primary;
  transition: all 0.3s ease-in-out;
  box-shadow: $shadow;

  &.centerDark {
    @include circle(24.5em);
    background-color: $primaryDark;
  }
}

.roundsContainer {
  @include row;
  align-items: flex-end;

  .roundsDone {
    color: $accent;
    font-size: 2.5em;
  }

  .totalRounds {
    color: $primaryDark;
    margin-left: 0.5em;
  }
}

.helperText {
  color: $primaryDark;
}

.cheatButton {
  @include reset-input;
  cursor: pointer;
}
