@import '../../style/style.scss';

.page {
  @include row;
  @include screen;
  justify-content: space-between;
  align-items: stretch;
  background: url('../../assets/images/wave-columns.svg');
  background-size: cover;
  padding: 4em;
}

.centerSection {
  @include column;
  justify-content: space-between;

  h1 {
    color: $accent;
    font-size: 3em;
  }
}

.roundsContainer {
  @include row;
  align-items: flex-end;
}

.roundsDone {
  color: $accent;
  font-size: 2.5em;
}

.totalRounds {
  color: $primaryDark;
  margin-left: 0.5em;
}
