@import '../../style/style.scss';

.page {
  @include row;
  @include screen;
  justify-content: space-between;
  align-items: stretch;
  background-image: url('../../assets/images/wave-columns.svg'),
    radial-gradient($gradientLight, $gradientDark);
  background-size: cover;
  padding: 4em;
}

.centerSection {
  @include column;
  justify-content: space-between;
}

.header {
  @include row;
  gap: 2em;

  .timeLeft {
    color: $accent;
    font-size: 3em;
  }

  .hourGlassIcon {
    @include square(3em);
  }
}

.centerIconsContainer {
  @include center;
  @include column;
  @include square(30em);
  background: url('../../assets/icons/blob.svg');
  background-position: center;
  background-size: cover;
}

.roundsContainer {
  @include row;
  align-items: flex-end;

  .roundsDone {
    color: $accent;
    font-size: 2.5em;
  }

  .totalRounds {
    color: $primaryDark;
    margin-left: 0.5em;
  }
}

.helperText {
  color: $primaryDark;
}

.cheatButton {
  @include reset-input;
}
