@import '../../../style/style.scss';

.bubble {
  @include circle(2.5em);
  margin: 0;
}

.clickable {
  margin-top: 2em;
  cursor: pointer;

  &:hover {
    fill: $disabled;
    filter: grayscale(100%) sepia(100%);
  }
  &:active {
    filter: invert(100%);
  }
}

.debugging {
  background-color: #784421;
}

.eloquence {
  background-color: #01d2c7;
}

.espionage {
  background-color: $light;
}

.git {
  background-color: #f15133;
}

.glow {
  box-shadow: 0 0 0.3em 0.2em #ffd983;
}

.graphql {
  background-color: #e534ab;
}

.greyBubble {
  background-color: grey;
}

.javascript {
  background-color: #f7df34;
}

.react {
  background-color: #67c8e2;
}

.rxjs {
  background-color: #cf2286;
}

.typescript {
  background-color: #3078c6;
}

.techColumn {
  @include column;
  gap: 0.5em;
  width: 6em;
}

h2,
h3,
h4 {
  color: $light;
  text-transform: capitalize;
  margin-top: 0em;
}
