@import '../../../style';

.container {
  display: grid;
  place-items: center;
  grid-template-rows: 1em 3em;
  grid-template-columns: 3em;
  justify-self: center;
  align-self: flex-end;
  gap: 0.8em;
  color: $primaryDark;
}

.circle {
  @include circle(2em);
  @include center;
  background-color: $primaryDark;
  color: $accent;
}

.light {
  color: $light;
}

.number {
  font-size: 2em;
  font-weight: 600;
}

.name {
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-weight: 500;
}
