@mixin square($size) {
  width: $size;
  height: $size;
}

.gray {
  filter: grayscale(1);
}

.small {
  @include square(2.5em);
}

.medium {
  @include square(3em);
}

.large {
  @include square(4em);
}
