@import '../../style';

.card {
  @include column;
  @include rounded;
  justify-content: space-between;
  background-color: $primaryDark;
  grid-row: 2 / 4;
  padding: 1.5em 0 2.5em 0;
  box-shadow: $shadow;
  text-align: center;
  position: relative;
  top: 0;
  transition: top 0.3s ease-in-out;

  &:hover {
    top: 1em;
  }
}

.centerContainer {
  @include column;
  justify-content: space-between;
  height: 10em;

  .sadFace {
    @include square(6em);
    margin-bottom: 1em;
  }
}

.paragraph {
  padding: 0 2em;
}

.ribbon {
  @include center;
  @include rectangle(100%, 3em);
  background-color: $primaryLight;
  justify-self: flex-end;
  color: $light;
  font-size: 1.5em;

  p {
    font-size: 1.3em;
    font-weight: 600;
  }

  &.failed {
    background-color: $primary;
  }
}
