@import '../../style';

.screen {
  @include center;
  @include row;
  @include screen;
  gap: 4em;
  padding: 0 4em;
  background-image: url('./memoryBackground.svg');
  background-size: cover;
}

.gameContent {
  @include column;
  flex-grow: 1;
  gap: 3em;
}

.helperText {
  color: $primaryDark;
  font-size: 2em;
}
