@import '../../style';

.container {
  @include column;
  align-self: flex-start;
  justify-self: flex-start;
  margin-left: 4em;
}

.icon {
  @include square(4em);
}

.textRow {
  @include row;
  align-items: flex-end;
}

.flipsDone {
  color: $accent;
  font-size: 3em;
}

.allowedFlips {
  font-size: 2em;
  margin-left: 0.5em;
}
