@import '../../style/style.scss';

.scheduleItem {
  @include column();
  @include rounded();
  grid-row: 3 / 4;
  background-color: #200f50;
}

.imageContainer {
  @include center;
  flex-grow: 1;
}

.quote {
  text-align: center;
  padding: 2em;
}
