@import '../../style/style.scss';

.container {
  @include column;
  grid-row: 3 / 4;
}

.card {
  @include column();
  @include rounded();
  background-color: $primaryDark;
  padding-top: 2em;
  height: 100%;
}

.imageContainer {
  @include center;
  flex-grow: 1;
}

.quote {
  text-align: center;
  padding: 2em;
}
