@import '../../style/style.scss';

.container {
  @include column;
  grid-row: 3 / 4;
}

.card {
  @include column();
  @include rounded();
  background-color: #200f50;
  height: 80%;
}

.imageContainer {
  @include center;
  flex-grow: 1;
}

.quote {
  text-align: center;
  padding: 2em;
}

.backIcon {
  margin-top: auto;

  & img {
    @include square(2em);
    opacity: 50%;
    cursor: pointer;
  }
}
