@import '../../../style';

.container {
  @include center;
  @include column;
  @include rounded;
  @include reset-input;
  @include fill;
  box-shadow: $shadow;
  background-color: $light;

  &:hover {
    box-shadow: $shadowHigh;
    transition: box-shadow 0.3s ease-in-out;
  }

  .questionMark {
    transform: rotate(0);
    transition: transform 0.3s ease-in-out;
  }

  &:hover .questionMark {
    transform: rotate(180deg);
  }
}

.up {
  background-color: $light;
}

.down {
  color: $accent;
  background-color: $primaryDark;
  transition: background-color 0.3s ease-in-out;
  font-size: 2em;
  cursor: pointer;

  &:hover {
    background-color: $primaryDarkHover;
  }

  &:active {
    background-color: $primaryDarkActive;
  }
}

.matched img {
  opacity: 0.3;
}
