@import '../../style/style.scss';

.scheduleButton {
  @include rectangle(8em, 3em);
  @include rounded;
  @include center;
  font-weight: 600;
  font-size: 1.5em;
  box-shadow: $shadow;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.activeBtn {
  background-color: $accent;

  &:hover {
    background-color: $accentHover;
  }

  &:active {
    background-color: $accentActive;
  }
}

.inactiveBtn {
  background-color: $primaryDark;

  &:hover {
    cursor: not-allowed;
  }
}
