@import '../../style/style.scss';

.container {
  @include column;
}

.matchesContainer {
  @include row;
  align-items: flex-end;

  .totalMatches {
    font-size: 3em;
    color: $accent;
  }

  .minMatches {
    font-size: 2em;
    color: $light;
    margin-left: 0.2em;
  }
}
