@import '../../style/style.scss';

.row {
  display: flex;
  align-items: center;
  gap: 1em;
}

.scrollButton {
  @include reset-input;

  img {
    @include square(2em);
  }
}

.disabled {
  opacity: 0.3;
}

.flipped {
  transform: scaleX(-1);
}
