@import '../../style/style.scss';

.row {
  width: 800px;
  height: 200px;
  display: grid;
  grid-template-columns: 2em repeat(5, 1fr) 2em;
  gap: 1em;
}

.scrollButton {
  @include reset-input;

  img {
    @include square(2em);
  }
}

.disabled {
  opacity: 0.3;
}

.flipped {
  transform: scaleX(-1);
}
