@import '../../style/style.scss';

.scheduleItem {
  @include column();
  @include rounded();
  background-color: $primaryDark;
  grid-row: 2/4;
}

.iconContainer {
  @include center;
  flex-grow: 1;
}

.quote {
  text-align: center;
  padding: 2em;
}
