@import '../../style';

// global rules

h1,
h2,
h3,
h4 {
  margin: 0;
}

body {
  user-select: none;
}

* {
  box-sizing: border-box;
}

.container {
  overflow: hidden;
  background-color: $light;
  color: $light;
}

@media screen and (min-width: 3000px) {
  body {
    @include debug;
    font-size: 2em;
  }
}
