@import '../../style/style.scss';

.card {
  @include column();
  @include rounded();
  justify-content: space-between;
  background-color: $primaryDark;
  grid-row: 2 / 4;
  padding: 1.5em 0 2.5em 0;
  box-shadow: $shadow;
  text-align: center;
}

.starsRow {
  @include row;
  gap: 0.5em;

  img {
    @include square(1em);
  }
}

.sadFace {
  @include square(7em);
}

.paragraph {
  padding: 0 2em;
}

.ribbon {
  @include center;
  @include rectangle(100%, 3em);
  background-color: $primaryLight;
  color: $light;
  font-size: 1.5em;

  &.failed {
    background-color: $primary;
  }
}
