@import '../../style/style.scss';

.scheduleItem {
  @include column();
  @include rounded();
  background-color: #200f50;
  grid-row: 2 / 4;
}

.achievementRibbon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.achievementRibbonColor {
  margin-bottom: 1em;
  width: 100%;
  background-color: #6435e9;
}
.achievementRibbonColorFaied {
  margin-bottom: 1em;
  width: 100%;
  background-color: #291252;
}

.achievementMessage {
  color: white;
  font-size: 1.5em;
}
