@import '../../../style';

.card {
  @include rectangle(7em, 11em);
  @include rounded;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primaryDark;
  justify-content: space-between;
  padding: 1.5em 0;
  color: $light;
  text-decoration: none;
  box-shadow: $shadow;
  margin-top: 0;
  transition: all 0.3s ease-in-out;

  &:hover {
    margin-top: 0.5em;
    background-color: $primaryDarkHover;
  }

  .techLevel {
    font-size: 1.5em;
  }
}
